<% title _('Terms of use') %>
<div class="row">
  <div class="col-md-12">
    <h1><%= _('Terms of use')%></h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div>
      <h2 class="fontsize-h3">PGDonline</h2>

      <p>PGDonline ('la herramienta', 'el sistema') es una adaptación de la herramienta DMProadmap (creada originalmente por el DCC y el UC3), adaptada por el Consorcio Madroño. Esta herramienta es un recurso compartido para la comunidad investigadora.</p>

      <h3>Su información personal</h3>

      <p>Para su identificación y administración de su cuenta en PGDonline necesitamos archivar su dirección de correo electrónico. También podríamos usarla para contactar con usted con el fin de obtener información sobre su experiencia en el uso de la herramienta o para informarle de los últimos desarrollos o versiones. Esta información podría ser compartida con las universidades miembro del Consorcio Madroño únicamente con fines legítimos. No venderemos, alquilaremos ni comerciaremos con ninguna información que usted nos proporcione. También usamos cookies para recordar algunas de sus decisiones de uso.</p>

      <p>Si usa este sistema consiente la recolección, retención y uso de su información persona de acuerdo con el párrafo anterior.</p>

      <h3>Política de privacidad</h3>

      <p>La información que introduzca en este sistema podrán verla además de usted, las personas con las que usted haya elegido compartir el acceso y - solamente de cara al mantenimiento del servicio - los administradores del Consorcio Madroño. Recopilamos información anónima, automatizada y colectiva de los planes, pero no accederemos directamente, ni haremos uso, ni compartiremos su contenido con nadie sin su permiso.</p>

      <h3>Claves</h3>
      <p>Su clave está almacenada en formato cifrado y no puede ser recuperada. Si la olvida tendrá que regenerarla.</p>

      <h3>APIs de terceros</h3>

      <p>Algunas funcionalidades de este portal son bibliotecas de Javascript o fuentes que se almacenan en servidores externos al Consorcio Madroño.</p>

      <h3>Revisiones</h3>

      <p>Estos términos de uso se revisaron el 28 de abril de 2020 y pueden volver a revisarse en cualquier momento. El uso de la herramienta indica que usted entiende y está de acuerdo con dichas condiciones.</p>
    </div>
  </div>
</div>
