.main-nav #app-navbar {
	background: #bc0f3a;
}
.main-nav .navbar-inverse .navbar-nav li:hover, .main-nav .navbar-inverse .navbar-nav li:focus {
	background-color: #a4052d;
}
.main-nav .navbar-inverse .navbar-nav > li > a {
	color: white;
}
.main-nav .app-logo {
	padding:0;
	height: auto;
}
div a:hover,div a:focus {
	color: #a4052d;
	border:none;
}
	
div a {
	color: #bc0f3a;
}

.btn-link:hover, .btn-link:focus {
	color: #a4052d;
}
